################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ObserverPattern/bin/Debug
/ObserverPattern/obj
/.vs/DesignPatterns/FileContentIndex
